<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics Backend Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="index-page">
    <div class="container">
        <div class="content-box">
            <div class="sad-face">
                <div class="eyes">
                    <div class="eye left"></div>
                    <div class="eye right"></div>
                </div>
                <div class="mouth"></div>
            </div>
</body>
</html>